@import './setting.less';
@import './common.less';
.xiaomi {
    .header {
        width: 100%;
        height: @height-header;
        color: @ft-header;
        background-color: @bg-gray;
        .header-body {
            .w();
        }
        ul>li {
            float: left;
            font-size: @ft-sm;
            color: @ft-header;
            line-height: @height-header;
        }
    }
}